.loginbutton,.registerbutton{
  color: white;
  background-color: blue;
  height: 30px;
  border-radius: 20px;
  border-color: blue;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0,0.15);
}
.loginContainer{ 
    background-color:rgb(255, 255, 255);
    padding: 20px;
    Width: 200px; 
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0,0.15);
    margin-left: 100px;
    margin-top: 100px;
 }
 .loginContainer .text{
    height: 20px;
 }